In [1]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as psql

In [2]:
conn = pg.connect("dbname = Learning user = postgres password = rubiks123")

In [3]:
cur = conn.cursor()

In [4]:
print('PostgreSQL database version:')
cur.execute('SELECT version()')
db_version = cur.fetchone()
print(db_version)

PostgreSQL database version:
('PostgreSQL 13.2, compiled by Visual C++ build 1914, 64-bit',)

In [5]:
cur.execute('select * from users')
result = cur.fetchone()
print(result)

(1, 'John Doe', 1)

In [9]:
my_table = pd.read_sql('select user_id, name, grade from users full join grades on users.grade_id = grades.grade_id', conn)
print(my_table)

   user_id      name  grade
0      1.0  John Doe   70.0
1      2.0  Jane Doe   80.0
2      3.0       Ian   90.0
3      4.0       Ion  100.0
4      5.0      Jack    0.0
5      NaN      None   10.0
6      NaN      None   11.0
7      6.0       Jim    NaN