### **Generate k-fold data**

In [2]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold

In [3]:
df = pd.read_csv('dataset/train.csv')

In [9]:
df = df.iloc[:,3:]

In [10]:
df.head()

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [11]:
skf = StratifiedKFold(n_splits=5)

In [54]:
for i, (train, test) in enumerate(skf.split(df, df.is_duplicate), 1):
    df_train = df.iloc[train, :]
    df_test = df.iloc[test, :]
    
    path_folder = f'cross_validation_data_2/{str(i)}/'
    if not os.path.exists(path_folder):
        os.makedirs(path_folder)
    
    df_train.to_csv(path_folder + 'train.csv', index=False)
    df_test.to_csv(path_folder + 'test.csv', index=False)

testtest

In [23]:
a = []
for i, (train, test) in enumerate(skf.split(df, df.is_duplicate), 1):
    print(train)
    a.append(train)
    break

[ 80117  80120  80121 ... 404287 404288 404289]

In [15]:
len(df) - 1/5*len(df)

323432.0

In [44]:
df.iloc[[80117,  80120,  80121], :]

,question1,question2,is_duplicate
80117,Why did Hitler attack USSR?,How come Hitler was so stupid that he started ...,1
80120,How can I enjoy studying?,How can I learn to enjoy studying?,1
80121,What is the all-time most viewed question on Q...,What is the biggest Quora question on Quora as...,1

In [22]:
df.loc[80117]

question1                             Why did Hitler attack USSR?
question2       How come Hitler was so stupid that he started ...
is_duplicate                                                    1
Name: 80117, dtype: object

In [49]:
tr, ts = iter(next(skf.split(df, df.is_duplicate)))

In [52]:
tr.shape

(323432,)